amqp==5.3.1
annotated-types==0.6.0
asgiref==3.8.1
async-timeout==5.0.1
billiard==4.2.1
celery==5.4.0
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Django==5.1.5
django-cors-headers==4.6.0
django-filter==24.3
django-redis==5.4.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
idna==3.4
kombu==5.4.2
pillow==11.1.0
prompt_toolkit==3.0.50
psycopg2-binary==2.9.10
pydantic==2.5.0
pydantic_core==2.14.1
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==6.1.0
requests==2.31.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.8.0
tzdata==2025.1
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.9.0
zarinpal==1.0.0
django-csp==3.7
